@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

/* @import url("https://fonts.cdnfonts.com/css/helvetica-2"); */

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  /* font-family: "Helvetica", sans-serif; */
  font-family: "Inter", sans-serif;
  /* scroll-behavior: smooth; */
}
